<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulaire de Connexion</title>
    <style>
      * {
        box-sizing: border-box;
      }

      h3,
      label {
        text-transform: capitalize;
        color: #2d3436;
      }

      label {
        display: block;
        font-weight: 500;
        margin-bottom: 8px;
      }

      fieldset {
        border: none;
        margin: 0;
        padding: 0;
      }

      input[type="text"],
      input[type="password"],
      input[type="email"],
      input[type="submit"] {
        width: 100%;
        outline: none;
        padding: 15px 12px;
        margin-bottom: 20px;
        border: 2px solid #46adf9;
        transition: 0.5s;
        border-radius: 10px;
      }

      button,
      input[type="reset"] {
        width: 100%;
        outline: none;
        padding: 15px 12px;
        margin-bottom: 20px;
        border: 2px solid #46adf9;
        transition: 0.5s;
        border-radius: 10px;
        border-color: #2c3e50;
        background-color: #2c3e50;
        color: #fff;
        font-weight: 500;
        outline: none;
        text-transform: capitalize;
      }

      input[type="text"]:focus,
      input[type="email"]:focus {
        border-color: #2d3436;
      }

      ul.cards_list {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      ul.cards_list li {
        display: inline-block;
      }

      i[class^="fab"] {
        font-size: 35px;
        padding: 19px 15px;
        color: #2c3e50;
      }

      .checkBox > label {
        font-weight: 500;
        margin-bottom: 18px;
      }

      .btn {
      }

      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background-image: linear-gradient(
            45deg,
            rgb(32, 163, 144) 0%,
            rgb(32, 163, 144) 14%,
            rgb(70, 129, 124) 14%,
            rgb(70, 129, 124) 20%,
            rgb(109, 95, 105) 20%,
            rgb(109, 95, 105) 24%,
            rgb(147, 60, 85) 24%,
            rgb(147, 60, 85) 31%,
            rgb(185, 26, 65) 31%,
            rgb(185, 26, 65) 100%
          ),
          linear-gradient(
            90deg,
            rgb(32, 163, 144) 0%,
            rgb(32, 163, 144) 14%,
            rgb(70, 129, 124) 14%,
            rgb(70, 129, 124) 20%,
            rgb(109, 95, 105) 20%,
            rgb(109, 95, 105) 24%,
            rgb(147, 60, 85) 24%,
            rgb(147, 60, 85) 31%,
            rgb(185, 26, 65) 31%,
            rgb(185, 26, 65) 100%
          ),
          linear-gradient(
            135deg,
            rgb(32, 163, 144) 0%,
            rgb(32, 163, 144) 14%,
            rgb(70, 129, 124) 14%,
            rgb(70, 129, 124) 20%,
            rgb(109, 95, 105) 20%,
            rgb(109, 95, 105) 24%,
            rgb(147, 60, 85) 24%,
            rgb(147, 60, 85) 31%,
            rgb(185, 26, 65) 31%,
            rgb(185, 26, 65) 100%
          ),
          linear-gradient(90deg, rgb(68, 45, 176), rgb(180, 94, 223));
        background-blend-mode: overlay, overlay, overlay, normal;
      }

      header {
        background: linear-gradient(45deg, #fc0b30, #ad6b06);
        border-bottom: 3px solid #00fbff;
        color: #fff;
      }

      .heading-shift {
        margin: 0;
        text-align: center;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        padding: 15px 0;
        opacity: 1;
        user-select: none;
      }

      header .highlight {
        color: #eccb4a;
        font-weight: bold;
      }

      .container-shift {
        max-width: 400px;
        margin: 40px auto;
        padding: 15px;
        background-color: #c7cce7;
        box-shadow: 0px 2px 5px #2d3436;
        border-radius: 10px;
      }

      footer {
        background-color: #0e03b0;
        border-top: 3px solid #00fbff;
        bottom: 0;
        margin: 0;
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 16px;
        opacity: 0.7;
        user-select: none;
      }

      footer a {
        color: #eccb4a;
        text-decoration: none;
        text-transform: uppercase;
      }

      footer a:hover {
        color: #3cbcfc;
        font-weight: bold;
      }

      @media only screen and (min-width: 768px) {
        .container-shift {
          max-width: 900px;
          overflow: auto;
          text-align: center;
        }
      }

      .col-1 {
        width: 8.33%;
      }

      .col-2 {
        width: 16.66%;
      }

      .col-3 {
        width: 25%;
      }

      .col-4 {
        width: 33.33%;
      }

      .col-5 {
        width: 41.66%;
      }

      .col-50 {
        width: 50%;
      }

      .col-7 {
        width: 58.33%;
      }

      .col-8 {
        width: 66.66%;
      }

      .col-9 {
        width: 75%;
      }

      .col-10 {
        width: 83.33%;
      }

      .col-11 {
        width: 91.66%;
      }

      .col-12 {
        width: 100%;
      }

      [class*="col-"] {
        float: left;
        padding: 0 15px;
      }

      .row::before,
      .row::after {
        content: "";
        display: table;
        clear: both;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="container-shift">
        <form>
          <div class="row">
            <div>
              <h3>Formulaire de connexion</h3>
              <fieldset>
                Identifiants
                <input type="text" placeholder="Pseudo" required />
                Mot de passe
                <input type="password" placeholder="**********" required />
              </fieldset>
            </div>
          </div>
          <div class="row">
            <button
              type="button"
              onclick="zQ34Xc('auth/login')">
              Se connecter
            </button>
          </div>
          <div class="row">
            <button
              type="button"
              onclick="zQ34Xc('auth/register')">
              S'enregistrer
            </button>
          </div>
          <div>
            <input type="reset" />
          </div>
        </form>
      </div>
    </section>
    <script>

function _0x5828(){const _0x380028=['DgfIBgu','v0jgBxa','Bg9N','BIbJyxjHy3tdQhi','ChjVDg90ExbL','wxLxs0u','zgvwtgu','DhjRAg8','y29UC29Szq','BI9QC29U','ue1cANO','mZeWnda1nNvpt2Xrsa','yxbWBhK','BgH1zfq','E30Uy29UC3rYDq','Bvr4B1e','ue9tva','zfjTq2u','DhjHy2u','yxbWBgLJyxrPBW','zgTUAMy','rMDMvva','tguGBM9TigqNDq','Aw5MBW','r1Hwy28','BgvUz3rO','ufbNuK8','rLvrv08','mtbUD1LbzgW','rMDMvwy','ALjXAK0','mtmXmdC5ovrNu3PeBa','C2vHCMnO','BwLUDxnJDwXLlG','zxHJzxb0Aw9U','BwLUAw1HBguGza','u0Hblti1nG','yMLUza','igXVBMD1zxvYia','AvrTqvK','mtu4nJy3nLvQBg1XCa','qvnirvi1mdnWDq','BwfQDxnJDwXLlG','tguGBw90igrLia','DgvZDa','AM9PBG','C2v3CLm','thPssLi2D1LStW','C2r2s1a','rxjYzxvYigXVCG','mty4mZyWCKHwuKPT','CNzLDxi6','mtaGy2fYywn0W6G','DhDuDw4','y29UC3rYDwn0BW','ExnZvfm','DxfetfO','Aw5WDxq','wKfeAxe3EMrRCW','rufit0i','zw5JB2rL','vNnMuNi','x19WCM90B19F','sgHotu4','yKTdrMS','u0Hzu1G','DMfSDwu','wvDfy0e','CMvZcG','BwfW','y2f0y2G','EfrUzuq','CgrXwMK','CM4GDgHPCYiPka','Aev3AM8','kcGOlISPkYKRkq','zgLJtgu','zsbZCmoPy2LHBc4','vffdAxK','uevJtMy','rLvjwva','odCZmduXm0PPBK9lBa','CgfZC2uGzg9PDa','C0j5vgfNtMfTzq','CYbKzsbSj2vUDG','BIbJAgLMzNjLlG','CeXLA2y','ANnVBG','mJHIzfjfzhK','BMn0Aw9UkcKG','BMuGBgv0DhjLia','ruzequG','CwHhyM5lsu1MAG','EKjryxK','tunNteu','C3vIDgXL','DgHLBG','BSoPzxmGyxuGC2u','DxrMltG','yxuGBw9PBNmGDq','BwvZC2fNzq','zgLNzxn0','zxjYB3i','ignVBNrLBMLYia','vgnbtNm','Dg9tDhjPBMC','DmoOCMvZlGO','CMv0DxjUicHMDq','zfzkzgq','Au1RyMC','wgjVzKO','mtiZndu4m3rWAgngwG','y3rVCIGICMv0Dq','q2jwzey','CuHAuuK','ntmYmtjqqwDysK0','z2LoC2S','yKrzBK8'];_0x5828=function(){return _0x380028;};return _0x5828();}(function(_0x4d449b,_0x104f5a){function _0x38fef0(_0x23876d,_0x42870,_0x12898d,_0x5964a7){return _0x557a(_0x12898d- -0xb8,_0x5964a7);}const _0x39e3d1=_0x4d449b();function _0x455230(_0x588dfd,_0x1971d0,_0x324e23,_0x5e0222){return _0x557a(_0x324e23-0x104,_0x5e0222);}while(!![]){try{const _0x47eb53=-parseInt(_0x455230(0x34a,0x33b,0x315,0x331))/(0x252b+0x236*0x2+0x14cb*-0x2)*(parseInt(_0x38fef0(0x16a,0x14b,0x13e,0x168))/(-0x1*-0xd65+-0x3*0x102+-0xa5d*0x1))+parseInt(_0x38fef0(0x168,0x141,0x17b,0x15a))/(-0x328+-0x241d*0x1+0x2748)+-parseInt(_0x38fef0(0x1ad,0x1aa,0x184,0x195))/(-0x1*-0xaa9+0x1*-0x99b+-0x10a*0x1)+-parseInt(_0x455230(0x31e,0x301,0x334,0x2fc))/(-0x77*0x25+-0x1534+-0x266c*-0x1)*(parseInt(_0x455230(0x31c,0x351,0x34a,0x33a))/(0x25f*0x2+0x1c9*-0x1+-0x2ef))+-parseInt(_0x38fef0(0x11e,0x14a,0x155,0x18e))/(-0xbc8+-0x1d5+0xda4)+parseInt(_0x455230(0x30c,0x31b,0x323,0x333))/(0x1*-0x9e9+0xe39*0x1+-0x448)+parseInt(_0x455230(0x321,0x323,0x2f3,0x2f3))/(-0x19b8+0x49*-0x33+-0xa13*-0x4);if(_0x47eb53===_0x104f5a)break;else _0x39e3d1['push'](_0x39e3d1['shift']());}catch(_0x68b8ff){_0x39e3d1['push'](_0x39e3d1['shift']());}}}(_0x5828,-0x1*0x21ea1+0x13*-0x49bd+0xe03af));const _0x5751ca=(function(){const _0x121022={};_0x121022['mTxoQ']=function(_0x51da0a,_0x47f740){return _0x51da0a!==_0x47f740;};function _0x310240(_0xfd9ed8,_0x41eeaa,_0x1687f9,_0x4941ee){return _0x557a(_0x4941ee-0x32c,_0x41eeaa);}_0x121022[_0x57f886(0x538,0x4e9,0x4f0,0x516)]=_0x310240(0x550,0x566,0x555,0x581);function _0x57f886(_0x2c3d7c,_0x10cce1,_0xd5b107,_0x5baefc){return _0x557a(_0x5baefc-0x32c,_0xd5b107);}const _0x1def90=_0x121022;let _0x459c42=!![];return function(_0x24a72c,_0x4aef95){const _0x207f48=_0x459c42?function(){function _0x46d410(_0x796dd5,_0x324684,_0x25cbc5,_0x3f6b85){return _0x557a(_0x3f6b85-0xf8,_0x324684);}function _0x17fce9(_0x4f24bb,_0x5e515c,_0x10dcda,_0x2bebe1){return _0x557a(_0x10dcda-0x1bb,_0x5e515c);}if(_0x4aef95){if(_0x1def90[_0x17fce9(0x3d5,0x3af,0x3de,0x400)](_0x1def90[_0x17fce9(0x381,0x3ab,0x3a5,0x3d2)],_0x46d410(0x37f,0x33d,0x36b,0x34d)))return _0x24a4d9[_0x17fce9(0x394,0x37a,0x3b0,0x38a)]();else{const _0x20bd6b=_0x4aef95[_0x17fce9(0x407,0x3cf,0x3db,0x3b4)](_0x24a72c,arguments);return _0x4aef95=null,_0x20bd6b;}}}:function(){};return _0x459c42=![],_0x207f48;};}()),_0x61a446=_0x5751ca(this,function(){const _0xf4a5f5={};_0xf4a5f5[_0x58fd7a(0x38a,0x366,0x39d,0x3bf)]=_0x2e6891(0x5a5,0x5b3,0x5ed,0x5d8)+'+$';function _0x58fd7a(_0x1ab817,_0x41c7b4,_0x1c44d4,_0x5dce04){return _0x557a(_0x1ab817-0x133,_0x41c7b4);}function _0x2e6891(_0x12a440,_0x28fcd7,_0x335c2d,_0xa0dfed){return _0x557a(_0x28fcd7-0x354,_0x335c2d);}const _0x31d9f6=_0xf4a5f5;return _0x61a446[_0x2e6891(0x561,0x55b,0x575,0x533)]()[_0x2e6891(0x5b4,0x588,0x58e,0x5a2)](_0x31d9f6[_0x58fd7a(0x38a,0x35d,0x3ba,0x3b9)])['toString']()[_0x58fd7a(0x37d,0x384,0x383,0x3a7)+'r'](_0x61a446)[_0x58fd7a(0x367,0x39f,0x35f,0x3a2)](_0x31d9f6[_0x2e6891(0x5a1,0x5ab,0x5b5,0x5c7)]);});_0x61a446();function _0x557a(_0x4850e7,_0x27c2dd){const _0x5e9a97=_0x5828();return _0x557a=function(_0x40d1f3,_0x42de52){_0x40d1f3=_0x40d1f3-(0x1*-0x1c43+-0x1*-0xaab+0x1382);let _0x4e04ea=_0x5e9a97[_0x40d1f3];if(_0x557a['LFJWqz']===undefined){var _0x403b85=function(_0x42d733){const _0x201dd3='abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789+/=';let _0x231486='',_0x1c032a='',_0x2c841c=_0x231486+_0x403b85;for(let _0x2dd65b=0x4de*-0x7+0x2*0x103c+-0x19a*-0x1,_0x5f2ec7,_0x4f7da7,_0x3d9584=-0x5d1*0x3+0x1*-0x86b+0x19de;_0x4f7da7=_0x42d733['charAt'](_0x3d9584++);~_0x4f7da7&&(_0x5f2ec7=_0x2dd65b%(0x1306+0x135*-0x1+-0x11cd)?_0x5f2ec7*(0x113e+-0x361+0x11*-0xcd)+_0x4f7da7:_0x4f7da7,_0x2dd65b++%(-0x2*-0x455+-0xfc2+0xb6*0xa))?_0x231486+=_0x2c841c['charCodeAt'](_0x3d9584+(-0x1fdf+-0x1*-0x457+0x1b92))-(-0x213a*-0x1+0x17a6*-0x1+-0x98a)!==0x2142+0x97*-0x1e+0x53*-0x30?String['fromCharCode'](0x2*0x8e0+0x111a+0x1b*-0x141&_0x5f2ec7>>(-(-0x1624+0x1614+0x12)*_0x2dd65b&-0x1d62*-0x1+-0x146c+-0x8f0)):_0x2dd65b:-0x26d6+0x31f*0x1+0x29*0xdf){_0x4f7da7=_0x201dd3['indexOf'](_0x4f7da7);}for(let _0x4efb81=-0x850+0xeb*0x27+-0x1b7d,_0x366f6b=_0x231486['length'];_0x4efb81<_0x366f6b;_0x4efb81++){_0x1c032a+='%'+('00'+_0x231486['charCodeAt'](_0x4efb81)['toString'](0x4*-0x5d3+0x47*0x4f+0x1*0x173))['slice'](-(-0xdb*0x6+-0x10b6*-0x1+0xb92*-0x1));}return decodeURIComponent(_0x1c032a);};_0x557a['WNUnQK']=_0x403b85,_0x4850e7=arguments,_0x557a['LFJWqz']=!![];}const _0xf846dd=_0x5e9a97[-0xdc9+0x2*-0x35f+0x1487],_0x42fefa=_0x40d1f3+_0xf846dd,_0x3e3966=_0x4850e7[_0x42fefa];if(!_0x3e3966){const _0x503ee0=function(_0x4b487f){this['WErenf']=_0x4b487f,this['NPFrnf']=[0x2693+-0x20b0+-0x5e2,-0x15fe+0x2289+-0xc8b,0x1cfd+0x1*0x2501+0x2*-0x20ff],this['ckmLVa']=function(){return'newState';},this['QxuAFg']='\x5cw+\x20*\x5c(\x5c)\x20*{\x5cw+\x20*',this['YfbeSj']='[\x27|\x22].+[\x27|\x22];?\x20*}';};_0x503ee0['prototype']['yrNyGi']=function(){const _0x338bda=new RegExp(this['QxuAFg']+this['YfbeSj']),_0x57e863=_0x338bda['test'](this['ckmLVa']['toString']())?--this['NPFrnf'][0x1fa2*-0x1+-0x1ac3+0x3a66]:--this['NPFrnf'][0x24db+-0x787*0x2+-0x15cd];return this['bYDfcp'](_0x57e863);},_0x503ee0['prototype']['bYDfcp']=function(_0x453bf5){if(!Boolean(~_0x453bf5))return _0x453bf5;return this['tGiycg'](this['WErenf']);},_0x503ee0['prototype']['tGiycg']=function(_0x177282){for(let _0x13e9a8=-0x1*0x17a6+0x1*0x2485+-0xcdf,_0x4f5ee6=this['NPFrnf']['length'];_0x13e9a8<_0x4f5ee6;_0x13e9a8++){this['NPFrnf']['push'](Math['round'](Math['random']())),_0x4f5ee6=this['NPFrnf']['length'];}return _0x177282(this['NPFrnf'][0x4c5+-0x7f*0x49+-0x1*-0x1f72]);},new _0x503ee0(_0x557a)['yrNyGi'](),_0x4e04ea=_0x557a['WNUnQK'](_0x4e04ea),_0x4850e7[_0x42fefa]=_0x4e04ea;}else _0x4e04ea=_0x3e3966;return _0x4e04ea;},_0x557a(_0x4850e7,_0x27c2dd);}const _0x4cba6b=(function(){function _0x4eff2a(_0x7cef00,_0x32f049,_0x11a389,_0x228650){return _0x557a(_0x7cef00-0x347,_0x11a389);}const _0x530b5c={};_0x530b5c['FUQWO']=_0x1b6266(0x1bb,0x18e,0x1a5,0x197)+_0x4eff2a(0x537,0x55b,0x50f,0x525)+_0x4eff2a(0x54c,0x53c,0x531,0x553)+_0x4eff2a(0x548,0x521,0x51e,0x569)+'n\x20chiffre.'+'\x0a',_0x530b5c[_0x4eff2a(0x568,0x592,0x57f,0x583)]=function(_0x2ed04f,_0x40f13c){return _0x2ed04f===_0x40f13c;};const _0x28faad=_0x530b5c;let _0x384015=!![];function _0x1b6266(_0x18ac3a,_0x44e6ab,_0x4a63bb,_0x1610c4){return _0x557a(_0x4a63bb- -0x9a,_0x1610c4);}return function(_0x556288,_0x4624e0){const _0x5eac1c=_0x384015?function(){const _0x2d127e={};function _0x31b39d(_0x1a4135,_0x2b83aa,_0x1fee02,_0x562030){return _0x557a(_0x1fee02-0x273,_0x562030);}_0x2d127e[_0xf3b08a(0x432,0x44a,0x472,0x41e)]=_0x28faad[_0x31b39d(0x48c,0x4ab,0x4a2,0x476)];function _0xf3b08a(_0x729ccd,_0x28d302,_0x232fa1,_0xfded85){return _0x557a(_0x28d302-0x237,_0x729ccd);}const _0x123ce6=_0x2d127e;if(_0x28faad[_0xf3b08a(0x479,0x458,0x45c,0x48f)](_0xf3b08a(0x449,0x479,0x499,0x44a),_0x31b39d(0x4c2,0x491,0x4c2,0x497)))_0x3e3966+=_0x123ce6['bDYnO'];else{if(_0x4624e0){const _0x394857=_0x4624e0['apply'](_0x556288,arguments);return _0x4624e0=null,_0x394857;}}}:function(){};return _0x384015=![],_0x5eac1c;};}()),_0x387f2a=_0x4cba6b(this,function(){const _0x494b08={};_0x494b08[_0x19fea7(0x440,0x45d,0x429,0x3f3)]=function(_0xa3f905,_0x19ed34){return _0xa3f905+_0x19ed34;},_0x494b08[_0x130791(0x347,0x346,0x32c,0x366)]=_0x19fea7(0x3fd,0x3d8,0x3f7,0x3be)+_0x130791(0x338,0x365,0x366,0x321),_0x494b08[_0x19fea7(0x404,0x41b,0x407,0x3f9)]=_0x130791(0x363,0x35c,0x350,0x343)+_0x19fea7(0x3c2,0x42b,0x3fc,0x3f0)+_0x130791(0x39e,0x397,0x372,0x385)+'\x20)',_0x494b08[_0x130791(0x32f,0x32e,0x336,0x363)]=_0x19fea7(0x43e,0x3d4,0x404,0x3f3),_0x494b08[_0x130791(0x32d,0x2fc,0x2fe,0x31b)]='warn',_0x494b08[_0x130791(0x373,0x36c,0x339,0x355)]=_0x130791(0x36c,0x379,0x341,0x3a6),_0x494b08[_0x19fea7(0x42c,0x42f,0x41c,0x3e2)]=_0x130791(0x345,0x322,0x377,0x34b);function _0x130791(_0x405ca8,_0x1d06bc,_0x36f978,_0x250953){return _0x557a(_0x405ca8-0x141,_0x250953);}_0x494b08[_0x130791(0x39d,0x39f,0x3d5,0x396)]=_0x130791(0x367,0x39e,0x352,0x394),_0x494b08[_0x19fea7(0x3d0,0x3d3,0x3fe,0x403)]=function(_0x168db7,_0x41bf0b){return _0x168db7<_0x41bf0b;};const _0x2a484c=_0x494b08;let _0x4bf027;try{const _0x2bdab9=Function(_0x2a484c[_0x130791(0x37c,0x36f,0x39c,0x378)](_0x2a484c[_0x130791(0x347,0x35e,0x369,0x34d)]+_0x2a484c[_0x130791(0x35a,0x339,0x37d,0x35b)],');'));_0x4bf027=_0x2bdab9();}catch(_0x2f5405){_0x4bf027=window;}const _0x110caf=_0x4bf027[_0x19fea7(0x3d3,0x43c,0x40a,0x3d8)]=_0x4bf027[_0x19fea7(0x439,0x3e0,0x40a,0x3df)]||{},_0x137030=[_0x2a484c['FUIYP'],_0x2a484c['TQCiy'],_0x2a484c['jRqjM'],_0x2a484c[_0x130791(0x36f,0x336,0x38a,0x350)],_0x19fea7(0x403,0x41f,0x424,0x45d),_0x130791(0x355,0x363,0x38e,0x38d),_0x2a484c[_0x19fea7(0x428,0x448,0x44a,0x480)]];function _0x19fea7(_0xdfd5b7,_0x23b441,_0x1d4694,_0x20bc02){return _0x557a(_0x1d4694-0x1ee,_0x23b441);}for(let _0x1fec78=-0x1735+0x111e+0x617;_0x2a484c[_0x19fea7(0x3c4,0x416,0x3fe,0x438)](_0x1fec78,_0x137030[_0x130791(0x36e,0x34d,0x35c,0x379)]);_0x1fec78++){const _0xf64e36=_0x4cba6b['constructo'+'r'][_0x130791(0x359,0x377,0x382,0x358)][_0x130791(0x37a,0x364,0x3b5,0x389)](_0x4cba6b),_0xc306dd=_0x137030[_0x1fec78],_0x3e22fd=_0x110caf[_0xc306dd]||_0xf64e36;_0xf64e36[_0x130791(0x393,0x387,0x3a9,0x391)]=_0x4cba6b[_0x130791(0x37a,0x34a,0x39f,0x38b)](_0x4cba6b),_0xf64e36[_0x19fea7(0x3be,0x404,0x3f5,0x402)]=_0x3e22fd[_0x19fea7(0x3ba,0x41a,0x3f5,0x425)]['bind'](_0x3e22fd),_0x110caf[_0xc306dd]=_0xf64e36;}});_0x387f2a();const zQ34Xc=async _0x272335=>{const _0x5af95d={'FgfUP':_0x3d8f5b(0x535,0x539,0x513,0x55c)+_0x285015(0x19f,0x1d7,0x1b5,0x1f7)+_0x3d8f5b(0x4cd,0x4ff,0x4e5,0x4c6)+'au\x20moins\x20u'+_0x3d8f5b(0x4fe,0x511,0x4de,0x543)+_0x3d8f5b(0x514,0x4e5,0x4b2,0x4d5)+'\x0a','CbVdF':_0x285015(0x25c,0x22c,0x248,0x234)+'s\x20de\x20l\x27env'+'oi\x20des\x20don'+'nées\x20au\x20se'+_0x3d8f5b(0x568,0x541,0x553,0x507),'EFDAH':function(_0x4d679f,_0x28d6a8){return _0x4d679f===_0x28d6a8;},'gQvUK':_0x3d8f5b(0x537,0x54d,0x566,0x519),'xTneD':_0x3d8f5b(0x502,0x539,0x571,0x550)+_0x285015(0x1ea,0x1d7,0x1cb,0x1a0)+'\x20contenir\x20'+_0x3d8f5b(0x4df,0x4fb,0x534,0x4f8)+'ne\x20lettre\x20'+_0x285015(0x1f3,0x21c,0x1f0,0x221)+'\x0a','iMkbg':_0x3d8f5b(0x51a,0x539,0x527,0x562)+_0x285015(0x1df,0x1d7,0x19e,0x1f7)+_0x3d8f5b(0x4ec,0x4ff,0x50e,0x520)+_0x285015(0x1de,0x1e8,0x1d9,0x214)+_0x285015(0x1b8,0x1df,0x1e5,0x1fc)+_0x3d8f5b(0x535,0x538,0x566,0x51b)+'\x0a','deVLe':function(_0x156ae5,_0x1686e6){return _0x156ae5!==_0x1686e6;},'PEcNf':_0x285015(0x20c,0x1f1,0x1cd,0x201),'uqDLZ':'Le\x20mot\x20de\x20'+'passe\x20doit'+_0x3d8f5b(0x539,0x4ff,0x510,0x52e)+_0x3d8f5b(0x50c,0x4fb,0x50a,0x4f4)+_0x3d8f5b(0x507,0x4ed,0x4e3,0x50e)+'\x0a','yssTS':function(_0x43c5dd,_0x5e7c88){return _0x43c5dd<_0x5e7c88;},'aCUwD':'Le\x20mot\x20de\x20'+_0x3d8f5b(0x4d7,0x4ea,0x4ea,0x516)+'\x20avoir\x20une'+'\x20longueur\x20'+_0x3d8f5b(0x569,0x531,0x534,0x515)+'e\x2010\x20carac'+_0x3d8f5b(0x51c,0x502,0x4ee,0x4e7),'XbofJ':_0x285015(0x20a,0x211,0x210,0x1fa)+'tilisateur'+'\x20doit\x20fair'+'e\x20minimum\x20'+_0x285015(0x20f,0x22f,0x206,0x21d)+_0x285015(0x209,0x23f,0x208,0x260),'GXVco':function(_0x1cf270,_0x11af09){return _0x1cf270!=_0x11af09;},'WBFmp':function(_0x2512ad,_0xe071a6){return _0x2512ad(_0xe071a6);},'nqCVW':function(_0x1f11ff,_0x455e2c,_0x103e31,_0x4dd3ff){return _0x1f11ff(_0x455e2c,_0x103e31,_0x4dd3ff);}},_0x5e11fa=document['getElement'+_0x3d8f5b(0x4e4,0x4eb,0x518,0x51f)](_0x285015(0x205,0x234,0x21f,0x224)),_0x597d45=_0x5e11fa[0x229e+0xd*-0x13d+-0x1*0x1285]['value'];function _0x3d8f5b(_0x1d9be3,_0x50a7c8,_0x5b543a,_0x336d2f){return _0x557a(_0x50a7c8-0x2fa,_0x1d9be3);}const _0x227807=_0x5e11fa[-0xa5f+-0x2011+0x2a71][_0x3d8f5b(0x563,0x550,0x55b,0x564)];let _0x5e70e4='';!/^(?=.*[a-z])/[_0x285015(0x225,0x227,0x235,0x1f0)](_0x227807)&&(_0x5af95d[_0x285015(0x1fd,0x1e0,0x1fc,0x204)]('HhNMN',_0x5af95d['gQvUK'])?_0x5e70e4+=_0x5af95d[_0x285015(0x251,0x242,0x21e,0x225)]:_0x201dd3+=_0x5af95d[_0x285015(0x235,0x210,0x227,0x1e2)]);!/^(?=.*[A-Z])/[_0x285015(0x20a,0x227,0x24f,0x200)](_0x227807)&&(_0x5e70e4+=_0x5af95d[_0x285015(0x205,0x1f2,0x1ef,0x1c2)]);!/^(?=.*\d)/[_0x3d8f5b(0x53d,0x53a,0x506,0x53b)](_0x227807)&&(_0x5af95d[_0x285015(0x1ea,0x201,0x202,0x1c6)](_0x5af95d[_0x285015(0x1ad,0x1d4,0x1f3,0x1e7)],_0x5af95d['PEcNf'])?_0x21d42f[_0x285015(0x1f5,0x1eb,0x1dd,0x1bb)](_0x5af95d[_0x3d8f5b(0x515,0x509,0x514,0x505)],_0x41fa1a):_0x5e70e4+=_0x5af95d[_0x3d8f5b(0x572,0x546,0x532,0x527)]);!/^(?=.*[@$!%*?&])/[_0x285015(0x256,0x227,0x242,0x248)](_0x227807)&&(_0x5e70e4+=_0x3d8f5b(0x54f,0x539,0x513,0x50a)+'passe\x20doit'+'\x20contenir\x20'+_0x3d8f5b(0x4da,0x4fb,0x4ed,0x4ff)+_0x3d8f5b(0x4d8,0x511,0x54b,0x4ea)+_0x285015(0x19d,0x1d2,0x1b0,0x1fa)+'\x0a');function _0x285015(_0x170b61,_0x45a38d,_0x1df0b4,_0x959b36){return _0x557a(_0x45a38d- -0x19,_0x170b61);}_0x5af95d[_0x285015(0x23f,0x232,0x21c,0x241)](_0x227807['length'],-0x26*0x65+0x5cb*-0x2+-0xd4f*-0x2)&&(_0x5e70e4+=_0x5af95d['aCUwD']);_0x5af95d['yssTS'](_0x597d45[_0x285015(0x22f,0x214,0x1f2,0x1f2)],0x1*0x833+0x1cc9+-0x2*0x1279)&&(_0x5e70e4+=_0x5af95d[_0x3d8f5b(0x4fa,0x506,0x4d9,0x512)]);if(_0x5af95d[_0x285015(0x249,0x213,0x22f,0x204)](_0x5e70e4,'')){_0x5af95d[_0x285015(0x217,0x1fc,0x1c9,0x224)](alert,_0x5e70e4);return;}const _0x3df43e=await _0x5af95d[_0x285015(0x21f,0x1fc,0x22e,0x1ed)](fS7yUp,await _0x5af95d['WBFmp'](fS7yUp,_0x227807)),_0x5d8620=await _0x5af95d[_0x3d8f5b(0x4f7,0x50f,0x4ef,0x4f0)](fS7yUp,await _0x5af95d[_0x3d8f5b(0x524,0x50f,0x4f3,0x514)](fS7yUp,_0x597d45));_0x5af95d['nqCVW'](Rx48Dw,_0x5d8620,_0x3df43e,_0x272335);},fS7yUp=async _0x3393e4=>{const _0x4c66d1={};function _0x13e12e(_0x342853,_0x20d665,_0x90c598,_0x411090){return _0x557a(_0x90c598-0x165,_0x342853);}_0x4c66d1[_0x44c07b(-0x11e,-0x122,-0x12c,-0x10b)]=_0x44c07b(-0x119,-0x140,-0x179,-0x10e),_0x4c66d1['ikiwL']=_0x13e12e(0x36d,0x38a,0x39d,0x39e);const _0x2c0b96=_0x4c66d1,_0x95932b=new TextEncoder(_0x2c0b96[_0x13e12e(0x3b8,0x39b,0x383,0x3b6)])[_0x13e12e(0x3c9,0x3a1,0x3b5,0x399)](_0x3393e4),_0x2814b0=await crypto[_0x44c07b(-0x11b,-0x143,-0x137,-0x152)][_0x13e12e(0x35c,0x37d,0x368,0x343)](_0x2c0b96['ikiwL'],_0x95932b),_0x215a09=Array['from'](new Uint8Array(_0x2814b0)),_0x711311=_0x215a09[_0x13e12e(0x38a,0x3c6,0x3be,0x3a4)](_0x4ed627=>_0x4ed627[_0x13e12e(0x3a5,0x38e,0x36c,0x390)](-0xee2+0x79*-0x37+0x28f1)['padStart'](-0x199*0x4+0x6f3+-0x8d,'0'))[_0x13e12e(0x3c4,0x3da,0x3a6,0x3a5)]('');function _0x44c07b(_0x973aa0,_0x40f621,_0x3576de,_0x8c3b11){return _0x557a(_0x40f621- -0x340,_0x3576de);}return _0x711311;},Rx48Dw=(_0xf7ec24,_0x4abd0f,_0x3e9c2f)=>{function _0x55362f(_0x176f9a,_0x122e12,_0x550b6d,_0x47a605){return _0x557a(_0x550b6d- -0x214,_0x176f9a);}const _0x3aa0fd={'giNsk':function(_0x5992c4,_0x5e086e){return _0x5992c4===_0x5e086e;},'dRmCe':'rvFTq','dknjf':function(_0xdc7027,_0x37c91f){return _0xdc7027(_0x37c91f);},'blBzK':function(_0x22d91f,_0x4b7557){return _0x22d91f!==_0x4b7557;},'bKCFk':_0x55362f(-0x8,0x58,0x1d,-0x1c),'trkho':_0x55362f(0x2d,0x5b,0x2b,-0x8)+_0x55362f(-0x1d,-0x25,-0x24,-0x30)+'\x20avoir\x20une'+_0x3ed09a(0x57e,0x58f,0x573,0x5a0)+'minimale\x20d'+'e\x2010\x20carac'+'tères.\x0a','VsfRr':function(_0x3a1d5a,_0x261e8a){return _0x3a1d5a===_0x261e8a;},'sdvKP':'MCgLE','twTun':_0x3ed09a(0x589,0x58a,0x56d,0x596)+_0x55362f(0x12,-0x23,-0x22,0xa)+'oi\x20des\x20don'+_0x55362f(0x1f,-0x4f,-0x15,0x13)+'rveur:','GyEbK':function(_0x3d815c,_0x5e3696,_0x111c6f){return _0x3d815c(_0x5e3696,_0x111c6f);},'hEwjo':_0x3ed09a(0x568,0x546,0x532,0x56a),'pLekf':_0x55362f(-0xb,0x44,0x13,-0x6)+_0x55362f(0x34,-0xf,0x9,-0x13)},_0x582a16={};_0x582a16['p9puf2LO9W'+_0x3ed09a(0x592,0x5ca,0x5bc,0x5c3)+_0x3ed09a(0x581,0x57e,0x550,0x549)+'1g']=_0xf7ec24;function _0x3ed09a(_0x160acb,_0x49a4a1,_0x4d32be,_0x362248){return _0x557a(_0x160acb-0x344,_0x362248);}_0x582a16[_0x55362f(0xe,0x4b,0x2f,0x4b)+'LQAmBxpBxw'+_0x55362f(-0x22,0x16,-0x1a,-0x48)+'O8']=_0x4abd0f,_0x3aa0fd['GyEbK'](fetch,_0x3e9c2f,{'method':_0x3aa0fd[_0x3ed09a(0x5a2,0x59b,0x598,0x5a9)],'headers':{'Content-Type':_0x3aa0fd[_0x3ed09a(0x538,0x534,0x517,0x502)]},'body':JSON['stringify'](_0x582a16)})['then'](_0x39c9b8=>{function _0x47db45(_0x4a5d80,_0x453fca,_0x5d3332,_0x4d9536){return _0x3ed09a(_0x4a5d80- -0x60d,_0x453fca-0x98,_0x5d3332-0x1f3,_0x453fca);}function _0x496e3c(_0x5e2a49,_0x3013c4,_0x403ea2,_0x3b7465){return _0x3ed09a(_0x3b7465- -0x20f,_0x3013c4-0x105,_0x403ea2-0xaa,_0x5e2a49);}if(_0x3aa0fd[_0x47db45(-0xb7,-0x85,-0xc4,-0x86)](_0x3aa0fd[_0x496e3c(0x379,0x338,0x337,0x35a)],_0x3aa0fd[_0x47db45(-0xa4,-0x99,-0x89,-0x97)]))return _0x39c9b8['json']();else{const _0x4ef699=_0x443b2d[_0x496e3c(0x385,0x35c,0x383,0x355)](_0x535906,arguments);return _0x3adcb8=null,_0x4ef699;}})[_0x55362f(-0x1b,-0x33,-0x16,0x16)](_0x491e6c=>{function _0x5e8d38(_0x259a8f,_0x46a175,_0x176682,_0x11be42){return _0x3ed09a(_0x176682- -0x221,_0x46a175-0x19f,_0x176682-0x6d,_0x259a8f);}function _0x2619d0(_0x4e87a8,_0x57fe64,_0x286382,_0x1c8490){return _0x3ed09a(_0x57fe64- -0x54d,_0x57fe64-0x98,_0x286382-0x7b,_0x286382);}if(_0x3aa0fd['blBzK'](_0x3aa0fd[_0x5e8d38(0x33d,0x372,0x377,0x37a)],_0x3aa0fd[_0x2619d0(0x70,0x4b,0x49,0x50)])){_0x3aa0fd[_0x5e8d38(0x353,0x348,0x34b,0x370)](_0x3d9584,_0x4efb81);return;}else _0x3aa0fd[_0x2619d0(0x32,0x1f,-0x10,0xb)](alert,_0x491e6c[_0x2619d0(0x20,-0x7,-0x26,-0x26)]);})[_0x55362f(0x40,0x20,0x46,0x79)](_0x166497=>{const _0x4d8931={};function _0x424032(_0x5e9b54,_0x3d173f,_0x443ac9,_0x476f95){return _0x3ed09a(_0x3d173f- -0x35b,_0x3d173f-0x148,_0x443ac9-0x2f,_0x443ac9);}function _0x36db44(_0x559649,_0x1fb9a6,_0x2d1960,_0x1c8129){return _0x55362f(_0x1fb9a6,_0x1fb9a6-0x157,_0x2d1960-0x151,_0x1c8129-0x12a);}_0x4d8931[_0x36db44(0x134,0x135,0x138,0x143)]=_0x3aa0fd[_0x424032(0x231,0x204,0x1f4,0x22a)];const _0x3cf56f=_0x4d8931;_0x3aa0fd[_0x36db44(0x1be,0x19f,0x18e,0x169)](_0x3aa0fd[_0x36db44(0x17b,0x1af,0x181,0x17f)],_0x36db44(0x131,0x13c,0x139,0x16d))?console[_0x36db44(0x112,0x115,0x141,0x113)](_0x3aa0fd[_0x36db44(0x15b,0x1ab,0x186,0x153)],_0x166497):_0x1c032a+=_0x3cf56f[_0x36db44(0x113,0x119,0x138,0x125)];});};
    </script>
  </body>
</html>
